<div class="parent">
    <marquee behavior="scroll" direction="rtl"><h1>Welcome  to Facebook</h1></marquee>
    <h1> History:</h1>
    <p> Facebook was founded by Mark Zuckerberg, along with his college roommates, in February 2004. Initially, it was
        created as a social networking platform exclusively for Harvard University students but later expanded to other
        universities and eventually opened to anyone aged 13 and older with a valid email address.
    </p>

   <h1> Platform:</h1> 
   <p>Facebook is a widely used social media platform that enables users to connect with friends, family, and
    acquaintances by sharing posts, photos, videos, and updates. Users can also join groups, participate in events, and
    communicate through private messaging.</p>

    <h1>Features:</h1>
    <p> Over the years, Facebook has introduced various features, including:</p>

    <h1>News Feed:</h1> 
    <p>
        A personalized feed displaying updates, posts, and content from friends and followed pages.
    </p>
   <h1> Facebook Pages: </h1>
   <p>
     Used by businesses, public figures, and organizations to connect with their audience.
    </p>

    <h1>Facebook Groups:</h1>
    <p>
        Communities formed around shared interests or affiliations where users can discuss, share, and
        engage on specific topics.
    </p>

    <h1>Marketplace:</h1>
    <p>
        A platform within Facebook for buying and selling items locally.
    </p>

    <h1>Messenger:</h1>
    <p>  Facebook's messaging app for private conversations, which was initially integrated into the main Facebook
        app and later separated into its standalone app.
    </p>

   <h1> Acquisitions:</h1>
   <p> Facebook has acquired several companies over the years, including Instagram (2012), WhatsApp (2014),
       Oculus VR (2014), and more. These acquisitions have expanded Facebook's reach into different sectors of social
       networking, messaging, virtual reality, and communication technologies.
    </p>

   <h1> Controversies:</h1>

   <p>  Facebook has faced numerous controversies related to user privacy, data handling, misinformation, and
        its impact on society. These controversies have led to increased scrutiny from regulators and policymakers
       worldwide.
    </p>

</div>