.parent{
    background-image: url("https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?size=626&ext=jpg&ga=GA1.1.532915825.1702289265&semt=ais");
    background-size: cover;
}
h1{
    color: rgb(227, 173, 191);
    padding-left: 50px;

}
p{
    color: whitesmoke;
    padding-left: 50px;
  
}